*.pyc
*.pyo
formData.xml
rawData.xml
translationalData.xml
rawDataWithFormName.xml
rawDataWithFormCompletedField.xml
rawDataWithDatumAndUnitsFieldNames.xml
rawDataSorted.xml
rawDataWithAllUpdates.xml
rawDataWithFormImported.xml
rawDataWithFormStatus.xml
!log/.dummy
log/
config/redcap.eav
config/rawEscaped.txt
config/report.txt
.project
