*.pyc
*.pyo
REDI.egg-info/
formData.xml
rawData.xml
translationalData.xml
rawDataWithFormName.xml
rawDataWithFormCompletedField.xml
rawDataWithDatumAndUnitsFieldNames.xml
rawDataSorted.xml
rawDataWithAllUpdates.xml
rawDataWithFormImported.xml
rawDataWithFormStatus.xml
!log/.dummy
log/
config/
.project
*.swp
*.swo
all_form_events.xml
person_form_event_tree.xml
person_form_event_tree_with_data.xml
.figleaf
build/
dist/
vagrant/.vagrant/
vagrant/.vimrc
vagrant/report.html
vagrant/tmp/
vagrant/backup-redcap-*.sql
vagrant/redcap-backup-*.sql
vagrant/REDI-*.egg

vagrant/redcap.zip
vagrant/projectDataBootstrap.sql
vagrant/sqlPatches
vagrant/data/
vagrant/demographic_test_data.csv
vagrant/demographic_test_data.json
vagrant/redi.db
