.coverage
cover/
coverage.xml
nosetests.xml
*.eggs
*.egg
venv/
*.pyc
*.pyo
*.egg-info/
.coveralls.yml
config-example/vagrant-data/redcap.zip
formData.xml
rawData.xml
translationalData.xml
rawDataWithFormName.xml
rawDataWithFormCompletedField.xml
rawDataWithDatumAndUnitsFieldNames.xml
rawDataSorted.xml
rawDataWithAllUpdates.xml
rawDataWithFormImported.xml
rawDataWithFormStatus.xml
!log/.dummy
log/
config/
config-uf/
config-surgery/
config-upenn/
config-vcu/
.project
*.swp
*.swo
all_form_events.xml
person_form_event_tree.xml
person_form_event_tree_with_data.xml
.figleaf
build/
_build/
dist/
vagrant/Makefile.ini
vagrant/projectDataBootstrap.sql
vagrant/out.csv
vagrant/.vagrant/
vagrant/.vimrc
vagrant/report.html
vagrant/tmp/
vagrant/backup-redcap-*.sql
vagrant/redcap-backup-*.sql
vagrant/REDI-*.egg

vagrant/redcap.zip
vagrant/plugins/
vagrant/redcap_database.sql
vagrant/sqlPatches
vagrant/data/
vagrant/demographic_test_data.csv
vagrant/demographic_test_data.json
vagrant/redi.db
.idea/
data/
redi.db
report.html
redi.pstats
callgraph.svg
mprofile_*
private/
.ropeproject/
